@import "vars";

.head {
  background-size: cover;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  .content {
    p {
      margin: 30px 0 30px 0;
    }
  }
}

.side-status {
  border: 1px solid #ccc;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  .info {
    text-align: center;
    background-color: white;
    width: 200px;
    margin: auto;
    margin-top: -20px;
  }
  .blue {
    color: $primaryColor;
    font-weight: 600;
  }
  .date {
    color: #5d5b5b;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 25px;
  }
  .item {
    position: relative;
    padding-top: 9px;
    margin: auto;
    width: 175px;
    margin-bottom: 15px;
    text-align: left;
    .icon {
      float: left;
      margin-right: 5px;
    }
    .quality-txt {
      color: #5d5b5b;
      font-size: 8px;
    }
    .quality {
      color: $primaryColor;
      font-size: 13px;
      font-weight: 600;
      margin-top: -4px;
    }
  }
  .value {
    color: $primaryColor;
    font-size: 29px;
    font-weight: 200;
    margin-top: -12px;
    margin-left: 10px;
    font-family: 'compton-light', sans-serif;
    white-space: nowrap;
    text-align: right;
    sup {
      position: relative;
      left: -5px;
      top: 3px;
    }
    img {
      width: 10px;
    }
  }
  .days-info-container {
    width: 220px;
  }
  .days-info {
    margin-left: 19px;
    .medium {
      font-size: 10px;
      margin-bottom: 10px;
      text-align: left;
    }
    .value {
      margin-left: 0;
      text-align: left;
      font-family: $campton;
      font-weight: 100;
    }
  }
}

.detail {
  padding-top: 35px;
  .content-title {
    color: $primaryColor;
    font-size: 19px;
    font-weight: bold;
    font-family: $campton;
    margin-bottom: 0;
  }
}

.contact {
  font-size: 14px;
}

.right-button {
  float: right;
  margin-top: 45px;
}

.contact-section {
  margin-bottom: 25px;
}

.company-box {
  width: 100%;
  height: 360px;
  position: relative;
  background: center no-repeat;
  margin-bottom: 30px;
  & > div {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: #fff;
    img {
      position: relative;
      top: 1px;
      left: 5px;
    }
  }
  .box-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .moreTxt {
    font-size: 12px;
    font-weight: 500;
  }
}

.certificate-pdf {
  .content-title {
    margin-top: -10px;
    span {
      font-weight: 400;
      font-size: 13px;
    }
  }
  .date {
    font-size: 12px;
  }
}

.certificate {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primaryColor;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  img {
    width: 100px;
  }
  &.pdf-container {
    height: auto;
    .bot {
      left: -1px;
      bottom: 0;
      right: -2px;
      background: url("../images/overlay.png") no-repeat;
      background-size: 100% 100%;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      height: 0;
      transition: all 0.5s;
      overflow: hidden;
      padding: 0;
    }
    &:hover {
      .bot {
        height: 180px;
        padding-bottom: 20px;
      }
    }
    .bot:after, .bot:before {
      display: none;
    }
  }
  .pdf-img {
    width: 90%;
  }
  .bot {
    position: absolute;
    left: 23px;
    bottom: 23px;
    color: $primaryColor;
    font-weight: 700;
    font-size: 14px;
    &:before {
      width: 30px;
      height: 2px;
      background: $primaryColor;
      display: block;
      content: "";
      float: left;
      margin-top: 8px;
      margin-right: 10px;
    }
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 12px;
      background: url("../images/blue-right-chevron.png") no-repeat;
      background-size: 100% 100%;
      float: right;
      margin-top: 3px;
      margin-left: 7px;
    }
  }
}

.card-section {
  width: 100%;
  height: 140px;
  border: 5px solid $primaryColor;
  padding: 15px;
  position: relative;
  .card-title {
    color: $primaryColor;
    font-size: 24px;
    font-weight: 800;
  }
  .bot {
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    &:before {
      width: 25px;
      margin-top: 7px;
      margin-right: 6px;
    }
    &:after {
      width: 7px;
      height: 10px;
    }
  }
  img {
    width: 40px;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  &.dark {
    background-color: $primaryColor;
    .card-title {
      color: #fff;
    }
    .bot {
      color: #fff;
      font-weight: 400;
      &:before {
        background-color: #fff;
      }
      &:after {
        background-image: url("../images/white-right-chevron.png");
      }
    }
    img {
      width: 80px;
      bottom: 10px;
    }
  }
}

.new-card {
  margin-bottom: 25px;
  min-height: 500px;
  & > div {
    img {
      float: left;
      margin-right: 15px;
      width: 45px
    }
  }
  .card-title {
    color: $primaryColor;
    font-weight: bold;
    span {
      color: #4c4c4c;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .news-img {
    margin-top: 15px;
    position: relative;
    display: table;
    img {
      width: 100%;
      height: 100%;
    }
    .overlay {
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      transition: height 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &:before {
        content: "";
        background-color: $primaryColor;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
      &:after {
        content: "";
        display: block;
        width: 45px;
        height: 45px;
        background: url("../images/link-icon.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        z-index: 9;
      }
    }
    &:hover {
      .overlay {
        height: 100%;
      }
    }
  }
  p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
  }
}

.content-row {
  margin-top: 55px;
}

.table {
  width: 100%;
  tbody:before {
    line-height: 1em;
    content: "\200C";
    display: block;
  }
  tbody {
    tr td {
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 0 10px 0;
    }
  }
}

.left-aside {
  ul {
    li {
      padding: 15px 0 15px 10px;
      border-bottom: 1px solid $primaryColor;
      a {
        color: $primaryColor
      }
      &.active {
        background-color: $primaryColor;
        a {
          color: #fff
        }
      }
    }
  }
}

.chevron-icon {
  width: 110px;
  display: block;
  margin: 40px auto;
}

.pagination {
  width: 285px;
  float: right;
  .left-arrow, .right-arrow {
    margin-top: 22px;
    cursor: pointer;
  }
  .left-arrow {
    float: left;
  }
  .right-arrow {
    float: right;
  }
  ul {
    float: left;
    padding-left: 0;
    margin-left: 10px;
    li {
      float: left;
      width: 38px;
      height: 33px;
      border: 1px solid $primaryColor;
      border-right: none;
      text-align: center;
      padding: 5px;
      color: $primaryColor;
      cursor: pointer;
      &.active {
        background-color: $primaryColor;
        color: #fff;
      }
      &:last-child {
        border-right: 1px solid $primaryColor;
      }
    }
  }
}

.circle-icon {
  width: 55px;
  margin-right: 15px;
}

.filter-list {
  display: flex;
  & > div {
    margin-right: 15px;
    width: 100px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 85px;
      background-color: $primaryColor;
      position: absolute;
      right: -8px; top: 7px;
    }
    &:last-child:after {
      display: none;
    }
    img {
      width: 55px;
      margin-bottom: 10px;
    }
    .name {
      color: $primaryColor;
      font-weight: 700;
      font-size: 12px;
    }
  }
}

.search-container {
  margin: 35px 0 35px 0;
  position: relative;
  input {
    width: 100%;
    height: 50px;
    border: 2px solid $primaryColor;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
    &::placeholder {
      color: #babeca;
      font-weight: 300;
    }
    &:focus {
      outline: none;
    }
  }
  img {
    position: absolute;
    right: 25px; top: 10px;
    width: 28px;
  }
}

.table.products {
  font-size: 14px;
  .col1 {
    width: 41%;
  }
  .col2 {
    width: 20%
  }
  .col3 {
    width: 30%
  }
  .col4 {
    width: 10%
  }
}