@import "vars";
.title {
  font-size: 60px;
  font-weight: 800;
  font-family: $campton, sans-serif;
  line-height: 66px;
  text-shadow: 2px 2px #000;
}

.button {
  display: inline-block;
  padding: 13px 15px 13px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  &.arrow {
    padding-right: 65px;
    &:after {
      content: "";
      width: 35px;
      height: 19px;
      display: block;
      position: absolute;
      top: 10px;
      right: 13px;
      background: url("../images/arrow.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}

.regular {
  font-weight: 400!important;
}

.float-left {
  float: left;
}

.list {
  margin-bottom: 55px;
  li {
    list-style-image: url(../images/li.png);
    line-height: 26px;
    color: #575656;
    font-size: 16px;
  }
}

.collapsible {
  .collapsible-btn {
    border: 1px solid $primaryColor;
    padding: 20px;
    color: $primaryColor;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    &:after {
      width: 54px;
      height: 27px;
      position: absolute;
      right: 20px;
      top: 21px;
      display: block;
      content: '';
      background: url(../images/down-chevron.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .collapsible-content {
    //background-color: #f1f1f1;
    padding: 15px;
    display: none;
  }
}
.medium {
  font-weight: 600;
  font-family: $campton;
}

button.button, a.button {
  background-color: transparent;
  border-color: $primaryColor;
  color: $primaryColor;
  border-width: 2px;
  padding: 10px 15px;
  font-size: 11px;
  &.white {
    border-color: #fff;
    color: #fff;
    &.withArrow:after {
      background-image: url("../images/white-right-arrow.png");
    }
  }
  &.withArrow {
    position: relative;
    padding-right: 40px;
    &:after {
      display: block;
      content: "";
      width: 20px;
      height: 7px;
      background: url("../images/right-arrow.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: 11px;
      top: 13px;
    }
  }
}

.margin-bot {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #333;
}

.bot {
  position: absolute;
  left: 23px;
  bottom: 23px;
  color: $primaryColor;
  font-weight: 700;
  font-size: 14px;
  &:before {
    width: 30px;
    height: 2px;
    background: $primaryColor;
    display: block;
    content: "";
    float: left;
    margin-top: 8px;
    margin-right: 10px;
  }
  &:after {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    background: url("../images/blue-right-chevron.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: 3px;
    margin-left: 7px;
  }
}

.see-more {
  width: 350px;
  text-align: center;
  color: $primaryColor;
  margin: 90px auto 0 auto;
  font-weight: bold;
  &:after, &:before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: $primaryColor;
    display: block;
    margin-top: 10px;
  }
  &:before {
    float: left;
  }
  &:after {
    float: right;
  }
}

.responsive-img {
  width: 100%;
  height: auto;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

.padding-reset {
  padding: 0;
}

.display-table {
  display: table;
  margin-bottom: 40px;
}

.display-cell {
  display: table-cell;
}

select::-ms-expand {
  display: none;
}