html {
  height: 100%
}

body.home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #ffffff;
}
#home {
  height: 100%;
  .home-swiper, .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .content {
      padding-left: 6%;
      width: 550px;
      p {
        margin: 30px 0 30px 0;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background: transparent;
  }
  .swiper-pagination-bullet {
    position: relative;
    opacity: 1;
    background: transparent;
    width: auto;
    margin-bottom: 50px;
    height: 20px;
    cursor: pointer;
    .divider {
      width: 40px;
      height: 2px;
      background-color: #fff;
      transition: width 0.5s;
    }
    &:hover {
      .divider {
        width: 80px!important;
      }
      .preview {
        opacity: 1;
      }
    }
    .bullet-btn {
      cursor: pointer;
    }
    .preview {
      width: 105px;
      height: 60px;
      background-size: 100% 100% !important;
      position: absolute;
      left: -110px;
      top: -33px;
      border: 1px solid #fff;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  .swiper-pagination {
    position: fixed;
    top: 50%;
    right: 5%;
    left: auto;
    width: 100px;
    margin-top: -85px;
    text-align: right;
    z-index: 3;
  }
}

@media screen and (max-width: 767px) {
  #home {
    .swiper-slide .content {
      width: 90%;
    }
    .swiper-pagination {
      bottom: 50px;
      top: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      right: 0;
      .swiper-pagination-bullet {
        .preview {
          display: none;
        }
      }
    }
  }
  .title {
    font-size: 38px;
    margin-bottom: -17px;
    line-height: 46px;
  }
}