//@import "../fonts/font.css";
@import "./vars";
@import "./helpers";

* {
  box-sizing: border-box;
}

body, html {
  padding:0;
  margin: 0;
  font-family: $campton, sans-serif;
}

li {
  list-style: none;
}

.header {
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 9;
  padding-top: 45px;
  height: 110px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  .row {
    width: 95%;
    margin: auto;
  }
  .logo {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 100;
  }
  .right {
    margin-top: -35px!important;
    margin-left: 25px;
    border-left: 1px solid rgba(255,255,255,0.1);
    padding-left: 35px;
    padding-top: 10px;
    height: 60px;
    display: flex;
    .langLink {
      color: #fff;
      border: 1px solid #fff;
      width: 39px;
      height: 39px;
      border-radius: 30px;
      padding: 8px 0 0 7px;
      margin-left: 10px;
      cursor: pointer;
      &.active {
        background-color: #fff;
        color: #000;
        padding-top: 10px;
      }
    }
  }
  .menu {
    float: right;
    li {
      float: left;
      margin-top: -15px;
      a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        font-size: 13px;
        text-shadow: 2px 2px #000;
        &.active {
          background-color: $primaryColor;
          border-radius: 25px;
          padding: 15px 20px 15px 20px;
        }
      }
    }
  }
}

.status {
  background-color: #eee9e8;
  position: absolute;
  bottom: 15px; left: 15px; right: 15px;
  height: 90px;
  padding-bottom: 25px;
  z-index: 3;
  padding-top: 20px;
  .row {
    margin: 0;
  }
  .blue {
    color: $primaryColor;
    font-weight: 600;
  }
  .date {
    color: #5d5b5b;
    font-weight: 600;
    font-size: 10px;
  }
  .item {
    position: relative;
    padding-top: 9px;
    &:after {
      background: url("../images/chevron.png") no-repeat;
      background-size: 100% 100%;
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      right: -15px;
      width: 25px;
      height: 60px;
    }
    &.last:after {
      display: none;
    }
    .icon {
      float: left;
      margin-right: 5px;
    }
    .quality-txt {
      color: #5d5b5b;
      font-size: 8px;
    }
    .quality {
      color: $primaryColor;
      font-size: 13px;
      font-weight: 600;
      margin-top: -4px;
    }
    .value {
      color: $primaryColor;
      font-size: 29px;
      font-weight: 200;
      margin-top: -12px;
      margin-left: 10px;
      font-family: 'compton-light', sans-serif;
      white-space: nowrap;
      sup {
        position: relative;
        left: -5px;
        top: 3px;
      }
      img {
        width: 10px;
      }
    }
    .float-left {
      margin-right: 10px;
    }
  }
}

.mobil-toggle {
  display: none;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 55px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: -17px;
  z-index: 9;
  img {
    width: 25px;
    margin-top: 20px;
  }
}

.mobile-menu {
  height: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: $primaryColor;
  transition: all 0.4s;
  top: 0;
  left: 0;
  right: 0;
  &.open {
    height: 100%;
    padding-top: 100px;
  }
  #close {
    top: 28px;
    right: 24px;
    img {
      margin-top: 15px;
    }
  }
  .right {
    position: absolute;
    right: 25px;
    bottom: 15px;
    border: none;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 20px;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px!important;
    &.active {
      border-bottom: 2px solid #fff;
    }
  }
  .sm {
    position: absolute;
    left: 25px;
    bottom: 33px;
    a {
      font-size: 17px;
      font-weight: 500;
      border-bottom: 2px solid #fff;
    }
    span {
      margin: 0 2px 0 2px;
    }
  }
}

.footer {
  background: #f7f7f7;
  height: 85px;
  margin-top: 80px;
  font-weight: 400;
  padding: 35px 0 30px 0;
  font-size: 13px;
  .copyright {
    margin-left: 30px;
  }
  .left {
    color: $primaryColor;
    position: relative;
    margin-right: 15px;
    &:after {
      width: 1px;
      height: 40px;
      background-color: rgba(0,0,0,0.2);
      position: absolute;
      top: -10px;
      right: -20px;
      display: block;
      content: "";
    }
  }
  .sm {
    float: right;
    margin-top: -25px;
    li {
      float: left;
      margin-left: 10px;
      a {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 25px;
        border: 1px solid $primaryColor;
        text-align: center;
        padding-top: 7px;
      }
    }
  }
}

.input {
  margin: 20px 0 10px 0;
  font-size: 14px;
  position: relative;
  label {
    display: block;
    color: $primaryColor;
    font-weight: bold;
  }
  input, select {
    font-size: 13px;
    display: block;
    background: transparent;
    height: 40px;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 2px solid $primaryColor;
    border-radius: 0!important;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &.select label:after {
    content: "";
    display: block;
    width: 17px;
    height: 9px;
    background: url("../images/small-down-icon.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 15px;
    top: 10px
  }
}

@import './responsive';