@import "vars";
html, body {
  height: 100%;
}
.product-wrapper {
  display: flex;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  .button {
    margin: 0 12px 0 12px;
    height: 40px;
    padding-top: 5px;
    font-weight: 200;
  }
  .bot-icon {
    position: absolute;
    bottom: 25px;
    font-weight: 500;
    font-size: 12px;
    font-family: $campton;
    letter-spacing: 2px;
    img {
      width: 60px;
      margin-bottom: 3px;
    }
  }
  p {
    font-weight: 100;
    line-height: 25px;
  }
  .text-container {
    width: 800px;
  }
  table.product-table {
    margin-top: 40px;
    margin-bottom: 30px;
    border-collapse: collapse;
    td {
      width: 170px;
      height: 38px;
      font-weight: 200;
    }
    .value {
      td {
        font-weight: 500;
        font-size: 17px;
      }
    }
  }
  table, td, th {
    border: 1px solid #fff;
  }
  @media screen and (max-width: 860px) {
    .text-container {
      width: 90%;
    }
    .button {
      margin-bottom: 10px;
      height: 35px;
    }
  }
  .product-footer {
    position: absolute;
    left: 0; bottom: 0; right: 0;
    height: 90px;
    border-top: 1px solid rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      font-size: 12px;
      position: relative;
      margin-right: 55px;
      &:after {
        position: absolute;
        top: 5px; right: -25px;
        height: 65px;
        content: "";
        width: 1px;
        background-color: #fff;
      }
      &:last-child:after {
        display: none;
      }
      img {
        width: 50px;
      }
    }
  }

  @media screen and (max-height: 800px) {
    .text-container p {
      line-height: 20px;
    }
    table.product-table {
      margin: 30px 0 10px 0;
    }
  }

  @media screen and (max-width: 400px) {
    padding-top: 70px;
    .title {
      font-size: 50px;
    }
    .bot-icon {
      display: none;
    }
  }

  @media screen and (max-width: 355px) {
    p {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 767px) {
    .product-footer {
      display: none;
    }
  }
}