@media screen and (max-width: 1374px) {
  .header {
    li a {
      font-size: 11px;
    }
    .right {
      margin-left: 11px;
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .status {
    overflow-x: scroll;
    overflow-y: hidden;
    .row {
      width: 1220px;
    }
  }
  .menu {
    li a {
      padding: 10px 5px 10px 9px !important;
    }
  }
}

@media screen and (max-width: 1175px) {
  .menu {
    display: none;
  }
  .mobil-toggle {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    height: auto;
    padding-bottom: 10px;
    .container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .footer {
    .sm {
      float: none;
      margin: auto;
      margin-top: 25px;
      width: 300px;
    }
  }
  iframe {
    margin: 20px 0;
  }
  .logistic-footer {
    .content-title {
      margin-top: 18px;
    }
  }
}

@media screen and (max-width: 767px) {
  .status {
    left: 0;
    bottom: 0;
    right: 0;
    .regular {
      display: block;
    }
    .blue {
      display: block;
      margin-top: -8px;
      margin-bottom: -20px;
    }
  }
  .header {
    border: none;
  }
  .footer {
    .left:after {
      display: none;
    }
  }
  .head {
    .content {
      padding-left: 20px;
    }
  }
  .left-aside ul {
    padding-left: 0;
    margin-bottom: 55px;
  }
  .filter-list {
    max-width: 100%;
    overflow-x: scroll;
  }
  .pagination {
    float: none !important;
    margin: auto;
  }
  .small-title {
    font-size: 30px;
    line-height: 35px;
    margin-top: 25px;
  }
}