@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,600,600i,700,700i,800&subset=latin-ext');
$primaryColor: #032d78;
$camptonBook: 'campton-book';
//$campton: 'campton';
$campton: 'Barlow', sans-serif;