<div class="footer">
    <div class="container">
        <div>
                <span class="left">
                    Çolakoğlu® Metalurji 2018
                </span>
            <span class="copyright left">Rüzgarlıbahçe Mahallesi, Kavak Sokak, No: 16 Kat: 5 34805 Kavacık, Beykoz İstanbul  /  (216) 681 26 00</span>
            <span><a href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/11555" target="_blank" style="margin-left: 15px; text-decoration: underline; color: #032d78!important;">Bilgi Toplumu Hizmetleri</a></span>
        </div>
        <div>
            <ul class="sm">
                <li><a href="#"><img src="assets/images/fb-icon.png" alt=""></a></li>
                <li><a href="#"><img src="assets/images/twitter-icon.png" alt=""></a></li>
                <li><a href="#"><img src="assets/images/linkedin-icon.png" alt=""></a></li>
                <li><a href="#"><img src="assets/images/gplus-icon.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>