<div class="header">
    <div class="row">
        <div class="col-md-1 col-xs-6">
            <a href="/"><img src="../assets/images/logo.png" alt="" class="logo"></a>
        </div>
        <div class="col-md-11 col-xs-6">
            <ul class="menu">
                <li><a href="./index.html" class="active">ANASAYFA</a></li>
                <li><a href="./kurumsal.html">KURUMSAL</a></li>
                <li><a href="./urunler.html">ÜRÜNLER</a></li>
                <li><a href="./uretim.html">ÜRETİM</a></li>
                <li><a href="./hurda.html">HURDA</a></li>
                <li><a href="./surdurulebilirlik.html">SÜRDÜRÜLEBİLİRLİK</a></li>
                <li><a href="./lojistik.html">LOJİSTİK</a></li>
                <li><a href="./iletisim.html">İLETİŞİM</a></li>
                <li><a href="#">CM ONlLINE</a></li>
                <li class="right">
                    <div class="langLink">TR</div>
                    <div class="langLink active">EN</div>
                </li>
            </ul>
            <div class="mobil-toggle" id="open"><img src="../assets/images/hamburger.png" alt=""></div>
            <div class="mobile-menu">
                <div class="mobil-toggle" id="close"><img src="../assets/images/close.png" alt=""></div>
                <ul></ul>
                <div class="sm">
                    <a href="#">FACEBOOK</a>
                    <span> / </span>
                    <a href="#">TWITTER</a>
                </div>
            </div>
        </div>
    </div>
</div>