@import url("https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,600,600i,700,700i,800&subset=latin-ext");
.title {
  font-size: 60px;
  font-weight: 800;
  font-family: "Barlow", sans-serif, sans-serif;
  line-height: 66px;
  text-shadow: 2px 2px #000; }

.button {
  display: inline-block;
  padding: 13px 15px 13px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  text-decoration: none; }
  .button.arrow {
    padding-right: 65px; }
    .button.arrow:after {
      content: "";
      width: 35px;
      height: 19px;
      display: block;
      position: absolute;
      top: 10px;
      right: 13px;
      background: url("../images/arrow.png") no-repeat;
      background-size: 100% 100%; }

.regular {
  font-weight: 400 !important; }

.float-left {
  float: left; }

.list {
  margin-bottom: 55px; }
  .list li {
    list-style-image: url(../images/li.png);
    line-height: 26px;
    color: #575656;
    font-size: 16px; }

.collapsible .collapsible-btn {
  border: 1px solid #032d78;
  padding: 20px;
  color: #032d78;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  margin-top: 15px; }
  .collapsible .collapsible-btn:after {
    width: 54px;
    height: 27px;
    position: absolute;
    right: 20px;
    top: 21px;
    display: block;
    content: '';
    background: url(../images/down-chevron.png) no-repeat;
    background-size: 100% 100%; }

.collapsible .collapsible-content {
  padding: 15px;
  display: none; }

.medium {
  font-weight: 600;
  font-family: "Barlow", sans-serif; }

button.button, a.button {
  background-color: transparent;
  border-color: #032d78;
  color: #032d78;
  border-width: 2px;
  padding: 10px 15px;
  font-size: 11px; }
  button.button.white, a.button.white {
    border-color: #fff;
    color: #fff; }
    button.button.white.withArrow:after, a.button.white.withArrow:after {
      background-image: url("../images/white-right-arrow.png"); }
  button.button.withArrow, a.button.withArrow {
    position: relative;
    padding-right: 40px; }
    button.button.withArrow:after, a.button.withArrow:after {
      display: block;
      content: "";
      width: 20px;
      height: 7px;
      background: url("../images/right-arrow.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: 11px;
      top: 13px; }

.margin-bot {
  margin-bottom: 15px; }

a {
  text-decoration: none;
  color: #333; }

.bot {
  position: absolute;
  left: 23px;
  bottom: 23px;
  color: #032d78;
  font-weight: 700;
  font-size: 14px; }
  .bot:before {
    width: 30px;
    height: 2px;
    background: #032d78;
    display: block;
    content: "";
    float: left;
    margin-top: 8px;
    margin-right: 10px; }
  .bot:after {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    background: url("../images/blue-right-chevron.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: 3px;
    margin-left: 7px; }

.see-more {
  width: 350px;
  text-align: center;
  color: #032d78;
  margin: 90px auto 0 auto;
  font-weight: bold; }
  .see-more:after, .see-more:before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #032d78;
    display: block;
    margin-top: 10px; }
  .see-more:before {
    float: left; }
  .see-more:after {
    float: right; }

.responsive-img {
  width: 100%;
  height: auto; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.center-text {
  text-align: center; }

.padding-reset {
  padding: 0; }

.display-table {
  display: table;
  margin-bottom: 40px; }

.display-cell {
  display: table-cell; }

select::-ms-expand {
  display: none; }

/*# sourceMappingURL=helpers.css.map */
