html {
  height: 100%; }

body.home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #ffffff; }

#home {
  height: 100%; }
  #home .home-swiper, #home .swiper-slide {
    width: 100%;
    height: 100%; }
  #home .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #home .swiper-slide .content {
      padding-left: 6%;
      width: 550px; }
      #home .swiper-slide .content p {
        margin: 30px 0 30px 0; }
  #home .swiper-pagination-bullet-active {
    background: transparent; }
  #home .swiper-pagination-bullet {
    position: relative;
    opacity: 1;
    background: transparent;
    width: auto;
    margin-bottom: 50px;
    height: 20px;
    cursor: pointer; }
    #home .swiper-pagination-bullet .divider {
      width: 40px;
      height: 2px;
      background-color: #fff;
      -webkit-transition: width 0.5s;
      transition: width 0.5s; }
    #home .swiper-pagination-bullet:hover .divider {
      width: 80px !important; }
    #home .swiper-pagination-bullet:hover .preview {
      opacity: 1; }
    #home .swiper-pagination-bullet .bullet-btn {
      cursor: pointer; }
    #home .swiper-pagination-bullet .preview {
      width: 105px;
      height: 60px;
      background-size: 100% 100% !important;
      position: absolute;
      left: -110px;
      top: -33px;
      border: 1px solid #fff;
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
  #home .swiper-pagination {
    position: fixed;
    top: 50%;
    right: 5%;
    left: auto;
    width: 100px;
    margin-top: -85px;
    text-align: right;
    z-index: 3; }

@media screen and (max-width: 767px) {
  #home .swiper-slide .content {
    width: 90%; }
  #home .swiper-pagination {
    bottom: 50px;
    top: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0; }
    #home .swiper-pagination .swiper-pagination-bullet .preview {
      display: none; }
  .title {
    font-size: 38px;
    margin-bottom: -17px;
    line-height: 46px; } }

/*# sourceMappingURL=home.css.map */
