@import url("https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,600,600i,700,700i,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,600,600i,700,700i,800&subset=latin-ext");
.title {
  font-size: 60px;
  font-weight: 800;
  font-family: "Barlow", sans-serif, sans-serif;
  line-height: 66px;
  text-shadow: 2px 2px #000; }

.button {
  display: inline-block;
  padding: 13px 15px 13px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  text-decoration: none; }
  .button.arrow {
    padding-right: 65px; }
    .button.arrow:after {
      content: "";
      width: 35px;
      height: 19px;
      display: block;
      position: absolute;
      top: 10px;
      right: 13px;
      background: url("../images/arrow.png") no-repeat;
      background-size: 100% 100%; }

.regular {
  font-weight: 400 !important; }

.float-left {
  float: left; }

.list {
  margin-bottom: 55px; }
  .list li {
    list-style-image: url(../images/li.png);
    line-height: 26px;
    color: #575656;
    font-size: 16px; }

.collapsible .collapsible-btn {
  border: 1px solid #032d78;
  padding: 20px;
  color: #032d78;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  margin-top: 15px; }
  .collapsible .collapsible-btn:after {
    width: 54px;
    height: 27px;
    position: absolute;
    right: 20px;
    top: 21px;
    display: block;
    content: '';
    background: url(../images/down-chevron.png) no-repeat;
    background-size: 100% 100%; }

.collapsible .collapsible-content {
  padding: 15px;
  display: none; }

.medium {
  font-weight: 600;
  font-family: "Barlow", sans-serif; }

button.button, a.button {
  background-color: transparent;
  border-color: #032d78;
  color: #032d78;
  border-width: 2px;
  padding: 10px 15px;
  font-size: 11px; }
  button.button.white, a.button.white {
    border-color: #fff;
    color: #fff; }
    button.button.white.withArrow:after, a.button.white.withArrow:after {
      background-image: url("../images/white-right-arrow.png"); }
  button.button.withArrow, a.button.withArrow {
    position: relative;
    padding-right: 40px; }
    button.button.withArrow:after, a.button.withArrow:after {
      display: block;
      content: "";
      width: 20px;
      height: 7px;
      background: url("../images/right-arrow.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: 11px;
      top: 13px; }

.margin-bot {
  margin-bottom: 15px; }

a {
  text-decoration: none;
  color: #333; }

.bot {
  position: absolute;
  left: 23px;
  bottom: 23px;
  color: #032d78;
  font-weight: 700;
  font-size: 14px; }
  .bot:before {
    width: 30px;
    height: 2px;
    background: #032d78;
    display: block;
    content: "";
    float: left;
    margin-top: 8px;
    margin-right: 10px; }
  .bot:after {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    background: url("../images/blue-right-chevron.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: 3px;
    margin-left: 7px; }

.see-more {
  width: 350px;
  text-align: center;
  color: #032d78;
  margin: 90px auto 0 auto;
  font-weight: bold; }
  .see-more:after, .see-more:before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #032d78;
    display: block;
    margin-top: 10px; }
  .see-more:before {
    float: left; }
  .see-more:after {
    float: right; }

.responsive-img {
  width: 100%;
  height: auto; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.center-text {
  text-align: center; }

.padding-reset {
  padding: 0; }

.display-table {
  display: table;
  margin-bottom: 40px; }

.display-cell {
  display: table-cell; }

select::-ms-expand {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif, sans-serif; }

li {
  list-style: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding-top: 45px;
  height: 110px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .header .row {
    width: 95%;
    margin: auto; }
  .header .logo {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 100; }
  .header .right {
    margin-top: -35px !important;
    margin-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 35px;
    padding-top: 10px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .right .langLink {
      color: #fff;
      border: 1px solid #fff;
      width: 39px;
      height: 39px;
      border-radius: 30px;
      padding: 8px 0 0 7px;
      margin-left: 10px;
      cursor: pointer; }
      .header .right .langLink.active {
        background-color: #fff;
        color: #000;
        padding-top: 10px; }
  .header .menu {
    float: right; }
    .header .menu li {
      float: left;
      margin-top: -15px; }
      .header .menu li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        font-size: 13px;
        text-shadow: 2px 2px #000;
        position: relative;
        border-radius: 25px;
      }
      .header .menu li a:before {
        position: absolute;
        left: 0; top: -5px; bottom: 0;
        height: 48px;
        width: 0;
        border-radius: 25px;
        background-color: #032d78;
        transition: width 0.3s;
        content: "";
        z-index: -1;
        overflow: hidden;
      }
      .header .menu li a:hover:before {
        width: 100%;
      }
      .header .menu li a.active:before {
        display: none;
      }
        .header .menu li a.active {
          background-color: #032d78;
          padding: 15px 20px 15px 20px; }

.status {
  background-color: #eee9e8;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 90px;
  padding-bottom: 25px;
  z-index: 3;
  padding-top: 20px; }
  .status .row {
    margin: 0; }
  .status .blue {
    color: #032d78;
    font-weight: 600; }
  .status .date {
    color: #5d5b5b;
    font-weight: 600;
    font-size: 10px; }
  .status .item {
    position: relative;
    padding-top: 9px; }
    .status .item:after {
      background: url("../images/chevron.png") no-repeat;
      background-size: 100% 100%;
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      right: -15px;
      width: 25px;
      height: 60px; }
    .status .item.last:after {
      display: none; }
    .status .item .icon {
      float: left;
      margin-right: 5px; }
    .status .item .quality-txt {
      color: #5d5b5b;
      font-size: 8px; }
    .status .item .quality {
      color: #032d78;
      font-size: 14px;
      font-weight: 700;
      margin-top: -1px; }
    .status .item .value {
      color: #032d78;
      font-size: 29px;
      font-weight: 200;
      margin-top: -12px;
      margin-left: 10px;
      font-family: 'compton-light', sans-serif;
      white-space: nowrap; }
      .status .item .value sup {
        position: relative;
        left: -5px;
        top: 3px; }
      .status .item .value img {
        width: 10px; }
    .status .item .float-left {
      margin-right: 10px; }

.mobil-toggle {
  display: none;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 55px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: -17px;
  z-index: 9; }
  .mobil-toggle img {
    width: 25px;
    margin-top: 20px; }

.mobile-menu {
  height: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #032d78;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  top: 0;
  left: 0;
  right: 0; }
  .mobile-menu.open {
    height: 100%;
    padding-top: 100px; }
  .mobile-menu #close {
    top: 28px;
    right: 24px; }
    .mobile-menu #close img {
      margin-top: 15px; }
  .mobile-menu .right {
    position: absolute;
    right: 25px;
    bottom: 15px;
    border: none;
    margin-bottom: 0; }
  .mobile-menu li {
    margin-bottom: 20px; }
  .mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px !important; }
    .mobile-menu a.active {
      border-bottom: 2px solid #fff; }
  .mobile-menu .sm {
    position: absolute;
    left: 25px;
    bottom: 33px; }
    .mobile-menu .sm a {
      font-size: 17px;
      font-weight: 500;
      border-bottom: 2px solid #fff; }
    .mobile-menu .sm span {
      margin: 0 2px 0 2px; }

.footer {
  background: #f7f7f7;
  height: 85px;
  margin-top: 80px;
  font-weight: 400;
  padding: 35px 0 30px 0;
  font-size: 13px; }
  .footer .copyright {
    margin-left: 30px; }
  .footer .left {
    color: #032d78;
    position: relative;
    margin-right: 15px; }
    .footer .left:after {
      width: 1px;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: -10px;
      right: -20px;
      display: block;
      content: ""; }
  .footer .sm {
    float: right;
    margin-top: -25px; }
    .footer .sm li {
      float: left;
      margin-left: 10px; }
      .footer .sm li a {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 25px;
        border: 1px solid #032d78;
        text-align: center;
        padding-top: 7px; }

.input {
  margin: 20px 0 10px 0;
  font-size: 14px;
  position: relative; }
  .input label {
    display: block;
    color: #032d78;
    font-weight: bold; }
  .input input, .input select {
    font-size: 13px;
    display: block;
    background: transparent;
    height: 40px;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 2px solid #032d78;
    border-radius: 0 !important; }
  .input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .input.select label:after {
    content: "";
    display: block;
    width: 17px;
    height: 9px;
    background: url("../images/small-down-icon.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 15px;
    top: 10px; }

@media screen and (max-width: 1374px) {
  .header li a {
    font-size: 11px; }
  .header .right {
    margin-left: 11px;
    padding-left: 15px; } }

@media screen and (max-width: 1250px) {
  .status {
    overflow-x: scroll;
    overflow-y: hidden; }
    .status .row {
      width: 1220px; }
  .menu li a {
    padding: 10px 5px 10px 9px !important; } }

@media screen and (max-width: 1175px) {
  .menu {
    display: none; }
  .mobil-toggle {
    display: block; } }

@media screen and (max-width: 1199px) {
  .footer {
    height: auto;
    padding-bottom: 10px; }
    .footer .container {
      width: 100%; } }

@media screen and (max-width: 991px) {
  .footer .sm {
    float: none;
    margin: auto;
    margin-top: 25px;
    width: 300px; }
  iframe {
    margin: 20px 0; }
  .logistic-footer .content-title {
    margin-top: 18px; } }

@media screen and (max-width: 767px) {
    .title {
        font-size: 50px;
    }
  .status {
    left: 0;
    bottom: 0;
    right: 0; }
    .status .regular {
      display: block; }
    .status .blue {
      display: block;
      margin-top: -8px;
      margin-bottom: -20px; }
  .header {
    border: none; }
  .footer .left:after {
    display: none; }
  .head .content {
    padding-left: 20px; }
  .left-aside ul {
    padding-left: 0;
    margin-bottom: 55px; }
  .filter-list {
    max-width: 100%;
    overflow-x: scroll; }
  .pagination {
    float: none !important;
    margin: auto; }
  .small-title {
    font-size: 30px !important;
    line-height: 35px;
    margin-top: 25px; } }

.contentWithSlide {
    display: block;
    position: relative;
    height: 550px!important;
    overflow-x: hidden;
    margin-bottom: -52px;
}
.contentWithSlide .slider-container {
    width: 100%;
    height: 100%;
    margin-top: -100px;
}
.contentWithSlide .swiper-slide {
    background-size: cover;
}
.contentWithSlide .content {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 8;
}
