@import url("https://fonts.googleapis.com/css?family=Barlow:100,300,300i,400,400i,500,600,600i,700,700i,800&subset=latin-ext");
html, body {
  height: 100%; }

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center; }
  .product-wrapper .button {
    margin: 0 12px 0 12px;
    height: 40px;
    padding-top: 5px;
    font-weight: 200; }
  .product-wrapper .bot-icon {
    position: absolute;
    bottom: 25px;
    font-weight: 500;
    font-size: 12px;
    font-family: "Barlow", sans-serif;
    letter-spacing: 2px; }
    .product-wrapper .bot-icon img {
      width: 60px;
      margin-bottom: 3px; }
  .product-wrapper p {
    font-weight: 100;
    line-height: 25px; }
  .product-wrapper .text-container {
    width: 800px; }
  .product-wrapper table.product-table {
    margin-top: 40px;
    margin-bottom: 30px;
    border-collapse: collapse; }
    .product-wrapper table.product-table td {
      width: 170px;
      height: 38px;
      font-weight: 200; }
    .product-wrapper table.product-table .value td {
      font-weight: 500;
      font-size: 17px; }
  .product-wrapper table, .product-wrapper td, .product-wrapper th {
    border: 1px solid #fff; }
  @media screen and (max-width: 860px) {
    .product-wrapper .text-container {
      width: 90%; }
    .product-wrapper .button {
      margin-bottom: 10px;
      height: 35px; } }
  .product-wrapper .product-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product-wrapper .product-footer > div {
      font-size: 12px;
      position: relative;
      margin-right: 55px; }
      .product-wrapper .product-footer > div:after {
        position: absolute;
        top: 5px;
        right: -25px;
        height: 65px;
        content: "";
        width: 1px;
        background-color: #fff; }
      .product-wrapper .product-footer > div:last-child:after {
        display: none; }
      .product-wrapper .product-footer > div img {
        width: 50px; }

      .certificate-pdf .center-text {
        min-height: 85px;
      }

  @media screen and (max-height: 800px) {
    .product-wrapper .text-container p {
      line-height: 20px; }
    .product-wrapper table.product-table {
      margin: 30px 0 10px 0; } }
  @media screen and (max-width: 400px) {
    .product-wrapper {
      padding-top: 70px; }
      .product-wrapper .title {
        font-size: 50px; }
      .product-wrapper .bot-icon {
        display: none; } }
  @media screen and (max-width: 355px) {
    .product-wrapper p {
      font-size: 13px; } }
  @media screen and (max-width: 767px) {
    .product-wrapper .product-footer {
      display: none; }
    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
    .product-wrapper .button {
      padding-top: 3px;
    }
    .product-wrapper .small-title {
      font-size: 30px !important;
    }
    .bot-icon {
      display: none;
    }
  }

/*# sourceMappingURL=product.css.map */
